.form__title{
    margin-bottom: 60px;
}

.form__title h3{
    font-weight: 700;
    font-size: 64px;
}

.form__title span{
    background: linear-gradient(135deg, #6ddcff 0%, #7f60f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form__wrapper{
    display: flex;
    align-items: center;
}

.form__inner{
    backdrop-filter: blur(20px);
    border-radius: 10px;
    background: rgba(101, 101, 101, 0.2);
    padding: 30px;
}

.form__inner-name{
    margin-bottom: 15px;
}

.form__name{
    height: 55px;
    padding: 17px 20px;
    width: 450px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 7px;
}

.form__inner-number{
    margin-bottom: 15px;
}

.form__phone{
    height: 55px;
    padding: 17px 20px;
    width: 450px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 7px;
}

.form__inner-tg{
    margin-bottom: 35px;
}

.form__tg{
    height: 55px;
    padding: 17px 20px;
    width: 450px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 7px;
}

.form__inner-text{
    margin-bottom: 40px;
}

.form__text{
    height: 110px;
    padding: 17px 20px;
    width: 450px;
    background: none;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    resize: none;

}

.form__inner-btn{
    display: flex;
    align-items: center;
}

.from__btn{
    background: linear-gradient(96deg, #6ddcff 0%, #7f60f9 100%);
    border-radius: 7px;
    padding: 21px 25px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--textColor);
    margin-right: 10px;
}

.form__btn-txt{
    font-weight: 400;
    font-size: 16px;
    max-width: 300px;
    opacity: .3;
}

.form__image{
    opacity: .3;
}