.blog__inner{
    position: relative;
}

.blog__inner-all{
    margin-bottom: 40px;
    position: absolute;
    right: 0;
    top: -60px;
}

.blog__inner-all a{
    background: linear-gradient(135deg, #6ddcff 0%, #7f60f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 8px;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
}


.blog__inner-text{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}


.blog__card{
    max-width: 575px;
    background-color: rgba(101, 101, 101, 0.2);
    border: 2px solid transparent;
    border-image:linear-gradient(135deg, #d9a067 0%, #04b5e2 42.59%, #be68bd 100%) 1;
}

.blog__card-heading{
    margin: 40px;
    font-size: 40px;
    font-weight: 700;
}

.blog__card-description{
    margin:  40px;
    font-size: 28px;
    font-weight: 600;
}