.header a:hover{
    color: var(--textGrid);
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.header__navigation{
    margin: 5px 0px;
    display: flex;
}

.header__nav{
    margin: 25px 0;
}

.header__logo{
    margin-right: 40px;
}

.header__nav-list{
    display: flex;
}

.header__nav-items{
    color: #FFF;
    margin-right: 40px;
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
}

.header__nav-items:last-child{
    margin-right: 0px;
}

.header__conaction{
    align-items: center;
    font-size: 20px;
    display: flex;
}

.header__btn{
    font-size: 16px;
    margin-left: 40px;
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(rgb(109, 220, 225), rgb(127, 96, 249)) ;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 30px;
    padding: 12px 29px;
}

