.exchanger__title{
    margin-bottom: 90px;
}

.exchanger__title h3{
    font-weight: 800;
    font-size: 64px;
}

.exchanger__title span{
    background: linear-gradient(135deg, #6ddcff 0%, #7f60f9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.exchanger__inner{
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.exchanger__items{
    border-radius: 10px;
}

.exchanger__btn-fcard{
    text-align: left;
    color: var(--textColor);
    font-weight: 500;
    font-size: 36px;
    max-width: 335px;
    background: none;
    background: linear-gradient(135deg, #6ddcff 0%, #7f60f9 100%);
    padding: 82px 60px 82px 25px;
    border-radius: 10px;
}

.exchanger__btn-card{
    text-align: left;
    color: var(--textColor);
    font-weight: 500;
    font-size: 36px;
    max-width: 335px;
    background: none;
    background: linear-gradient(135deg, #6ddcff 0%, #7f60f9 100%);
    padding: 57px 74px 56px 25px ;
    border-radius: 10px;
}

.exchanger__btn{
    text-align: left;
    color: var(--textColor);
    font-weight: 400;
    font-size: 36px;
    max-width: 400px;
    padding: 55px 25px;
    background: none;
    border: 2px solid transparent;
    border-radius: 10px;
    border-image:linear-gradient(135deg, #d9a067 0%, #04b5e2 42.59%, #be68bd 100%) 1;
}