.footer{
    background-color: rgb(255, 255, 255, 0.05);
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: #e1e1e1;
    font-weight: 500;
    margin-top: auto;
}

.footer__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.footer__nav{
    margin: 45px 0 55px;
}

.footer__nav-item{
    margin-bottom: 15px;
}

.footer__nav-item:last-child{
    margin-bottom: 0;
}

.footer__conaction{
    font-size: 18px;
    font-weight: 500;
}

.footer__conaction-itams{
    margin-bottom: 15px;
}

.footer__conaction-itams:last-child{
    margin-bottom: 0;
}





.footer__btn{
    font-size: 16px;
    margin-left: 40px;
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(rgb(109, 220, 225), rgb(127, 96, 249)) ;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 30px;
    padding: 12px 70px;

}



