.info__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.info__inner {
    margin-right: 30px;
}

.info__btn {
    padding: 13px 58px;
    color: #e1e1e1;
    font-size: 36px;
    font-weight: 500;
    background: none;
    border: 2px solid transparent;
    border-image:linear-gradient(135deg, #d9a067 0%, #04b5e2 42.59%, #be68bd 100%) 1;
}

.info__btn-faq {
    padding: 13px 140px;
    color: #e1e1e1;
    font-size: 36px;
    font-weight: 500;
    background: none;
    border: 2px solid transparent;
    border-image:linear-gradient(135deg, #d9a067 0%, #04b5e2 42.59%, #be68bd 100%) 1;
}

.info__line{
    border: 1px solid #fff;
    height: 100px;
    margin-right: 40px;
    opacity: .3;
}

.info__btn-active {
    font-weight: 700;
    padding: 13px 58px;
    color: #be68bd;
    font-size: 36px;
    font-weight: 500;
    background: none;
    border: 2px solid transparent;
    border-image:linear-gradient(135deg, #d9a067 0%, #04b5e2 42.59%, #be68bd 100%) 1;
}

.info__faq-active {
    font-weight: 700;
    padding: 13px 140px;
    color: #be68bd;
    font-size: 36px;
    font-weight: 500;
    background: none;
    border: 2px solid transparent;
    border-image:linear-gradient(135deg, #d9a067 0%, #04b5e2 42.59%, #be68bd 100%) 1;
}